# Generated temporary files
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Large data
.old_data/*
data/*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Local files
.env

# Explorations
.notebooks/*

# Test output
.test_outputs/

# Quarto
*.qmd
*.html
*.quarto_ipynb
README_files/*

# Personal
format_change.py